.header{
/* text-align: center; */
}

.header nav{
    /* background-color: orange; */
    line-height: 40px;
    font-size: 20px;
    margin-left: 60%;
}

nav a{
    text-decoration: none;
    color:white;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover{
    background-color: gray;
}

.header h1{
    color:white;
    margin-left: 10%;
}



@media (max-width: 900px) { .header nav{
    /* background-color: orange; */
    line-height: 40px;
    font-size: 20px;
    margin-left: 30%;
}}

@media (max-width: 700px) { .header nav{
    /* background-color: orange; */
    line-height: 40px;
    font-size: 20px;
    margin-left: 10%;
}}


.allCard img{
    height:80%;
    width:80%;
    text-align: center;
   
    margin-left: 10%;

}

.allCard{

    padding: 5px;
    margin:10%;

}

.Card:hover{

    background-color: gray;
    
}